/*product_list*/
.productsearch{float:right}
.productsearch form{display:inline}
.productsearch input{width:200px;height:16px;vertical-align:middle}
.productsearch a.btn_apply{text-decoration:none}
.productsearch a.btn_apply:hover{color:#DC4E22}
#container .post_table td.product ul.options li{display:inline}
#container .post_table td.product ul.options li.second{padding-left:5px;background:url(../images/sep_comment.gif) no-repeat left}
#container .post_table td.purchase form.purchase_form {text-align:left}
/*add_product*/
#container p.notice{float:right;display:inline-block}
#container span.required{color:#ff0000}
#container table.add_product, #container table.add_info{display:block;margin:0 0 40px;text-align:left;vertical-align:top}
#container .add_product, #container .add_info{display:inline-block;margin-top:20px}
#container .add_product td, #container .add_info td{height:60px}
#container .add_product input#productname{width:95%;border: 1px solid #CCCCCC;color:#777777}
#container .add_info input#productdiscount, #container .add_info input#productcancel{width:40px;border:1px solid #CCCCCC;color:#777777}
#container .add_product textarea#productdescription ,#container .add_product textarea#productsummary{width:95%;border: 1px solid #CCCCCC;color:#777777;resize:none}
#container ul.chk_category{width:300px;padding:15px 0 15px 20px;border:1px solid #CCCCCC;background:#fff;color:#777777}
#container ul.chk_category  li input{margin-bottom:5px}
#container ul.chk_category ul.category_down{margin-left:15px}	